<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css?v=4">
    <meta name="mailru-domain" content="hedNz4V3Oz8i5maW" />
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
            .then(registration => console.log('SW registered'))
            .catch(err => console.log('SW registration failed: ', err));
        }
    </script>
</body>
</html>